body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60;
    
}
.violet-color{
    color: violet;
}
section{
    display: flex;
}
.half-width{
    width: 60%;
    padding-left: 5%;
    border-radius: 10px;
}
.half-width img {
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 30%;
    padding-left: 30%;
    border-radius: 2000%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,violet);
    color:violet;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 5%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}