body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60;
    
}
.violet-color{
    color: violet;
}
section{
    display: flex;
}
.half-width{
    width: 60%;
    padding-left: 5%;
}
.half-width img {
    width: 60%;
    padding-left: 30%;
}
