body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60;
    
}
h2{
    padding-right: 5%;
}
.violet-color{
    color: violet;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 60%;
    padding-left: 5%;
    
    
}
.half-width img {
    width: 50%;
    border-radius: 50%;
    border-right: 20%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,violet);
    color:violet;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 5%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}


.half-widthhhh{
    width: 60%;
    padding-left: 5%;
    padding-right: 15%;
}
.web-developer{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}